img {
  display: block;
  max-width: 100%;
}

.govuk-link:visited {
  color: #1d70b8;
}

.job-search .govuk-checkboxes__label {
  max-width: none;
}

.job-search {
  background-color: #dee0e2;
}

@media (min-width: 641px) {
  .job-search .form-bottom-row {
    text-align: right;
  }
}

@media (max-width: 640px) {
  .results {
    padding-bottom: 20px;
  }
}

.results__grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 641px) {
  .results__grid {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .results__grid {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.results__grid__col {
  display: flex;
}

.results .job {
  border: 1px solid #b1b4b6;
  width: 100%;
}

.results .job .logo {
  max-width: 48px;
}

.results .job .logo-box {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;
}

.results .job .position {
  font-size: 1.125rem;
}

.govuk-back-link {
  margin-bottom: 0;
}

.single-job .company {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .govuk-grid-column-two-thirds--lg {
    width: 100%;
  }
}

.single-job .company > * {
  box-sizing: border-box;
}

.single-job .separator {
  display: inline-block;
  padding: 0 .25rem;
}

.single-job .company .logo-col {
  align-items: center;
  background-color: #1d70b8;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 120px;
  width: 120px !important;
}

.single-job .logo-box-outer {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 88px;
  width: 88px;
}

.single-job .logo-box {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 76px;
  justify-content: center;
  width: 76px;
}

.single-job .logo {
  width: 48px;
}

.single-job .company .info-col {
  align-items: center;
  background-color: #1d70b8;
  display: flex;
  flex-wrap: wrap;
  height: 120px;  
  padding: 0 1.125rem 0 .5rem;
  width: calc(100% - 120px);
}

@media (max-width: 640px) {
  .single-job .company .info-col {
    flex-direction: column;
    justify-content: center;
  }

  .single-job .company .info-col > div {
    margin-bottom: .625rem;
    width: 100%;
  }
}

@media (min-width: 641px) {
  .single-job .company .info-col {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 1.5rem;
  }
}

.single-job .company .info-col h2,
.single-job .company .info-col p {
  color: #fff;
}

.single-job .single-job-header,
.single-job .single-job-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .single-job .single-job-header > div,
  .single-job .single-job-footer > div {
    margin-bottom: 1.25rem;
    width: 100%;
  }
}

@media (min-width: 641px) {
  .single-job .single-job-header,
  .single-job .single-job-footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
