img {
  display: block;
  max-width: 100%;
}

.job-search .govuk-checkboxes__label {
  max-width: none;
}

.job-search {
  background-color: #dee0e2;
}

.results .job {
  border: 1px solid #b1b4b6;
}

.results .job .logo {
  width: 64px;
}

.results .job .logo-box {
  display: inline-block;
  height: 64px;
  width: 64px;
}
